# SPDX-License-Identifier: Apache-2.0

menuconfig SECURE_STORAGE
	bool "Secure storage subsystem"
	depends on !BUILD_WITH_TFM
	select EXPERIMENTAL
	imply MBEDTLS_PSA_CRYPTO_STORAGE_C
	help
	  The secure storage subsystem allows securely storing data via the PSA Secure Storage API
	  on platforms that don't already have an implementation of it.
	  It also provides its implementation of the PSA Internal Trusted Storage (ITS) API to the PSA Crypto API implementation, allowing the use of persistent keys in the PSA Crypto API.
	  It is configurable with different implementations for both the securing and storing of the data to suit the varying capabilities of different platforms.
	  The actual security provided depends on the security features that are available and used
	  on a given platform.

if SECURE_STORAGE

module = SECURE_STORAGE
module-str = secure_storage
source "subsys/logging/Kconfig.template.log_config"

choice SECURE_STORAGE_ITS_IMPLEMENTATION
	prompt "Internal Trusted Storage (ITS) API implementation"

config SECURE_STORAGE_ITS_IMPLEMENTATION_DEFAULT
	bool "Default ITS implementation"
	select SECURE_STORAGE_ITS_SECURING_MODULE
	select SECURE_STORAGE_ITS_STORING_MODULE
	help
	  Use the default implementation of the ITS API.
	  It calls the securing/storing modules, which can be configured
	  and have custom implementations.

config SECURE_STORAGE_ITS_IMPLEMENTATION_CUSTOM
	bool "Custom ITS implementation"
	help
	  A custom implementation of the ITS API is present.
	  The secure_storage_its_impl_*() functions must be implemented.

endchoice # SECURE_STORAGE_ITS_IMPLEMENTATION

config SECURE_STORAGE_PS_IMPLEMENTATION_CUSTOM
	bool "Custom Protected Storage (PS) API implementation"
	help
	  Whether a custom implementation of the PS API is present.
	  If not, the default behavior of directly calling into the ITS API will be enabled.
	  This means that the ITS and the PS will be identical.
	  If providing a custom implementation, implement the secure_storage_ps_impl_*() functions.

if SECURE_STORAGE_ITS_IMPLEMENTATION_DEFAULT

config SECURE_STORAGE_ITS_MAX_DATA_SIZE
	int "Maximum data size of an ITS entry in bytes"
	default 64
	help
	  The maximum size, in bytes, that the data of an ITS entry can be.
	  Increasing this value increases the stack usage when serving PSA ITS API calls.

endif # SECURE_STORAGE_ITS_IMPLEMENTATION_DEFAULT

menuconfig SECURE_STORAGE_ITS_SECURING_MODULE
	bool "ITS securing module"
	help
	  The module that provides encryption and authentication-related functions.
	  It is used by the default ITS API implementation.

if SECURE_STORAGE_ITS_SECURING_MODULE
rsource "Kconfig.its_securing"
endif

menuconfig SECURE_STORAGE_ITS_STORING_MODULE
	bool "ITS securing module"
	help
	  The module that handles storage/retrieval of the data to/from non-volatile memory.
	  It is used by the default ITS API implementation.

if SECURE_STORAGE_ITS_STORING_MODULE
rsource "Kconfig.its_storing"
endif

if SECURE_STORAGE_PS_IMPLEMENTATION_CUSTOM

config SECURE_STORAGE_PS_SUPPORTS_SET_EXTENDED
	bool "PS API implementation supports psa_ps_create() and psa_ps_set_extended()"
	help
	  Whether the psa_ps_create() and psa_ps_set_extended() are implemented.

endif # SECURE_STORAGE_PS_IMPLEMENTATION_CUSTOM

endif # SECURE_STORAGE
