# SPDX-License-Identifier: Apache-2.0

choice SECURE_STORAGE_ITS_SECURING_KEY_PROVIDER
	prompt "ITS securing module encryption key provider"

config SECURE_STORAGE_ITS_SECURING_KEY_PROVIDER_DEFAULT
	bool "Default key provider"
	select PSA_WANT_ALG_SHA_256
	imply HWINFO
	help
	  The default key provider returns the SHA-256 hash of the UID of the ITS entry being processed as the key. In addition to the UID, it hashes the following, if available:
	  - the device EUI64 as returned by hwinfo_get_device_eui64(), as first choice;
	  - the device ID as returned by hwinfo_get_device_uuid(), as second choice.
	  If no device ID is available or if the device ID is easily readable, the security of the key provided is low because the UIDs are easily guessable.
	  Implement a more secure key provider if possible.

config SECURE_STORAGE_ITS_SECURING_KEY_PROVIDER_CUSTOM
	bool "Custom key provider"
	help
	  Implement the secure_storage_its_securing_get_key() function.

endchoice # SECURE_STORAGE_ITS_SECURING_KEY_PROVIDER

config SECURE_STORAGE_ITS_SECURING_KEY_SIZE
	int "ITS securing module encryption key size in bytes"
	default 32

choice SECURE_STORAGE_ITS_SECURING_NONCE_PROVIDER
	prompt "ITS securing module nonce provider"

config SECURE_STORAGE_ITS_SECURING_NONCE_PROVIDER_DEFAULT
	bool "Default nonce provider"
	select PSA_WANT_GENERATE_RANDOM
	help
	  The default nonce provider generates a random number for the first nonce with
	  psa_generate_random(), then increments it for every subsequent nonce. A random
	  source that doesn't repeat values between reboots is required for this to be secure.

config SECURE_STORAGE_ITS_SECURING_NONCE_PROVIDER_CUSTOM
	bool "Custom nonce provider"
	help
	  Implement the secure_storage_its_securing_get_nonce() function.

endchoice # SECURE_STORAGE_ITS_SECURING_NONCE_PROVIDER

config SECURE_STORAGE_ITS_SECURING_NONCE_SIZE
	int "ITS securing module nonce size in bytes"
	default 12

choice SECURE_STORAGE_ITS_SECURING_AEAD_SCHEME_PROVIDER
	prompt "ITS securing module AEAD scheme provider"

config SECURE_STORAGE_ITS_SECURING_AEAD_SCHEME_PROVIDER_DEFAULT
	prompt "Default AEAD scheme (AES-GCM)"
	select PSA_WANT_KEY_TYPE_AES
	select PSA_WANT_ALG_GCM
	depends on SECURE_STORAGE_ITS_SECURING_NONCE_SIZE = 12

config SECURE_STORAGE_ITS_SECURING_AEAD_SCHEME_PROVIDER_CUSTOM
	bool "Custom AEAD scheme provider"
	help
	  Implement the secure_storage_its_securing_get_aead_scheme() function.

endchoice # SECURE_STORAGE_ITS_SECURING_AEAD_SCHEME_PROVIDER

config SECURE_STORAGE_ITS_SECURING_AEAD_CRYPT_IMPLEMENTATION_CUSTOM
	bool "Custom AEAD en/decrypt implementation"
	help
	  Implement the secure_storage_its_securing_aead_crypt() function.
